$primary-color: #3b82f6;
$background-light: #f5f5f5;
$genre-background: #e7e5ff;
$text-color-dark: #333;
$text-color-light: #555;

.watchlist-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: $genre-background;
  border-radius: 10px;
  margin-bottom: 20px;

  i {
    font-size: 24px;
    color: $primary-color;
  }

  .watchlist-btn {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}

.movie-list-container {
  padding: 20px;
  background-color: $background-light;

  .genre-section {
    margin-bottom: 40px;

    h2 {
      margin-left: 10px;
      color: $text-color-dark;
    }

    .movies-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));  // Adjusts for responsiveness
      gap: 20px;
      padding: 10px;
      background-color: $genre-background;
      border-radius: 10px;
      justify-items: center;  // Centers grid items

      .movie-card {
        text-align: center;
        position: relative;
        width: 180px;  // Fixed width for movie card
        max-width: 180px;
        cursor: pointer;

        .movie-poster {
          position: relative;

          img {
            width: 100%;  // Ensures full width
            height: auto;
            border-radius: 8px;
            aspect-ratio: 2/3;
          }

          .add-to-watchlist {
            position: absolute;
            top: 10px;
            right: 10px;
            color: white;
            background-color: rgba(0, 0, 0, 0.7);
            border-radius: 50%;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25px;
            height: 25px;

            i {
              font-size: 16px;
            }

            &:hover {
              background-color: lighten($primary-color, 15%);
            }
          }
        }

        h3 {
          margin-top: 10px;
          font-size: 14px;
          color: $text-color-light;
        }
      }
    }

    .movies-grid::-webkit-scrollbar {
      height: 8px;
    }

    .movies-grid::-webkit-scrollbar-thumb {
      background-color: lighten($text-color-dark, 50%);
      border-radius: 4px;
    }
  }
}
