<!--<div class="action">-->
<!--  <h2>Action</h2>-->
<!--  <div class="action-list">-->
<!--    <div class="action-movie">-->
<!--      <button>Add</button>-->
<!--      <p>Deadpool & Wolverine</p>-->
<!--    </div>-->


<!--    <div class="action-movie">-->
<!--      <button>Add</button>-->
<!--      <p>Deadpool & Wolverine</p>-->
<!--    </div>-->

<!--    <div class="action-movie">-->
<!--      <button>Add</button>-->
<!--      <p>Deadpool & Wolverine</p>-->
<!--    </div>-->

<!--    <div class="action-movie">-->
<!--      <button>Add</button>-->
<!--      <p>Deadpool & Wolverine</p>-->
<!--    </div>-->

<!--    <div class="action-movie">-->
<!--      <button>Add</button>-->
<!--      <p>Deadpool & Wolverine</p>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->



<ul>
  <li
    *ngFor="let movie of movies"
  >
    {{movie.id}}-
  {{ movie.original_title}}
</ul>
