<div class="watchlist-section">
  <i class="fas fa-tv"></i> <!-- FontAwesome icon -->
  <button class="watchlist-btn" (click)="toggleDropdown()">Go to Watchlist</button>

  <!-- Dropdown content for watchlist items -->
  <div *ngIf="isDropdownOpen" class="dropdown-content">
    <ul>
      <li *ngFor="let movie of watchlist">{{ movie.title }}</li>
    </ul>
    <!-- Button to view the full watchlist -->
    <button class="watchlist-full" (click)="watchfulllist()">View Full Watchlist</button>
  </div>
</div>

<div class="movie-list-container">
  <!-- Loop through Genres and Movies -->
  <ng-container *ngIf="genres.length > 0">
    <div *ngFor="let genre of genres" class="genre-section">
      <h2>{{ genre.name }}</h2>

      <div class="movies-grid">
        <div class="movie-card" *ngFor="let movie of moviesByGenre[genre.name] | slice:0:5" (click)="goToMovieDetails(movie.id)">
          <div class="movie-poster">
            <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}" />
            <div class="add-to-watchlist" (click)="countClicks($event, movie.id, movie.title)">
              <i class="fas fa-plus"></i>
            </div>
          </div>
          <h3>{{ movie.title }}</h3>
        </div>
      </div>
    </div>
  </ng-container>
</div>
