<div class="movie-list-container">
  <div *ngFor="let genre of genres" class="genre-section">
    <h2>{{ genre.name }}</h2>
    <div class="movies-grid">
      <div
        class="movie-card"
        *ngFor="let movie of moviesByGenre[genre.name] | slice: 0:5"
      >
        <div class="movie-poster">
          <img
            [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
            alt="{{ movie.title }}"
            (click)="goToMovieDetails(movie.id)"
          />

          <!-- Conditional display of '+' or '-' button -->
          <button
            *ngIf="!watchlistMovieIds.has(movie.id)"
            (click)="addMovie($event, movie)"
            class="add-button"
          >
            +
          </button>
          <button
            *ngIf="watchlistMovieIds.has(movie.id)"
            (click)="removeMovie($event, movie)"
            class="add-button"
          >
            -
          </button>
        </div>
        <h3>{{ movie.title }}</h3>
      </div>
    </div>
  </div>
</div>

<!-- Message Popup -->
<div *ngIf="showMessage" class="message-popup">
  {{ message }}
</div>
