$primary-color: #3b82f6;
$background-light: #f5f5f5;
$genre-background: #e7e5ff;
$text-color-dark: #333;
$text-color-light: #555;


/* Watchlist Section */
.watchlist-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: $genre-background;
  border-radius: 10px;

  i {
    font-size: 24px;
    color: $primary-color;
  }

  .watchlist-btn {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: darken($primary-color, 10%);
      //display: block; /* Show the tooltip when hovering over the button *
    }
  }
}


/* Watchlist Button and Dropdown */
.watchlist-section {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.watchlist-btn {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}


.dropdown-content {
  position: absolute;
  top: 100%;  /* Ensures it appears just below the button */
  right: 0;   /* Aligns the dropdown to the right side */
  background-color: white;
  z-index: 1;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow */
  padding: 20px;
  border-radius: 8px;
  width: 200px; /* Set width for dropdown */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  gap: 20px;
}

.dropdown-content ul {
  list-style: none;
  padding: 5px;
  margin: 5px;
}

.dropdown-content ul li {
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px 12px;
  margin: 8px;
  cursor: pointer;
}

.dropdown-content ul li:hover {
  background-color: #f1f1f1;
}
